.uk-list-divider {
  border-top: 1px solid @global-border;
  margin-bottom: @global-margin;
}

a.uk-light:hover {
  color: @global-inverse-color;
}

.uk-light .uk-select:not([multiple]):not([size]),
.uk-section-primary:not(.uk-preserve-color) .uk-select:not([multiple]):not([size]),
.uk-section-secondary:not(.uk-preserve-color) .uk-select:not([multiple]):not([size]),
.uk-tile-primary:not(.uk-preserve-color) .uk-select:not([multiple]):not([size]),
.uk-tile-secondary:not(.uk-preserve-color) .uk-select:not([multiple]):not([size]),
.uk-card-primary.uk-card-body .uk-select:not([multiple]):not([size]),
.uk-card-primary > :not([class*='uk-card-media']) .uk-select:not([multiple]):not([size]),
.uk-card-secondary.uk-card-body .uk-select:not([multiple]):not([size]),
.uk-card-secondary > :not([class*='uk-card-media']) .uk-select:not([multiple]):not([size]),
.uk-overlay-primary .uk-select:not([multiple]):not([size]),
.uk-offcanvas-bar .uk-select:not([multiple]):not([size]),
.uk-select:not([multiple]):not([size]) {
  background-image: none;
}

.uk-list ul.uk-iconnav {
  padding: 0;
  margin-left: -10px;
}

[class*='uk-column'] label {
  display: block;
}

.fa {
  line-height: inherit;
}

header {

  .uk-navbar {
    max-width: 1200px;
    margin: 0 auto;
  }

  .uk-button-small {
    font-size: @global-font-size;
  }
}

footer {
  background-color: #dadada;
}

// form

input:checked + label.uk-button-simple-orange {
  background-color: darken(@global-orange, 10%);
  color: @global-inverse-color;
}

form {

  hr, .uk-hr {
    border-top: 1px solid #d8d8d8;
  }
}

.tm-input-shadow {
  border-color: #fff;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.56), inset 0px 1px 2px 0 rgba(72, 114, 158, 0.61);
}

.tm-registration label {
  line-height: @global-control-small-height;
}

.tm-form-companions {

  [class*='uk-column'] label {
    margin-bottom: 10px;
  }

  .uk-form-label {
    text-transform: none;
  }
}

.tm-form-social {

  .uk-form-icon {
    border-right: 1px solid @global-border;
  }
}

.tm-checkbox-set {

  .tm-checkbox {
    display: block;
    line-height: @global-control-small-height;
    text-align: center;
    background-color: #fff;
    border: 1px solid @global-border;
  }

  input:checked + .tm-checkbox {
    color: @global-primary-background;
    border-color: @global-primary-background;
  }
}

.tm-form-pageheader {

  .uk-input, .uk-select:not([multiple]):not([size]) {
    height: 48px;
  }
}

  // content

.tm-companion-item {

  h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
  }
}

.tm-blog-title {
  display: block;
  height: 52px;
  overflow: hidden;
  font-size: 20px;
  font-family: @font-lato-bold;
}

.tm-blog-footer {
  font-size: 14px;
}

.tm-pages-list {

  a {
    display: inline-block;
    position: relative;
    margin-right: 15px;
    font-size: 15px;
    line-height: 1.9;

    + a {
      padding-left: 28px;

      &::before {
        content: '\f0a3';
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0;
        line-height: normal;
        font-family: FontAwesome;
        font-size: 13px;
        color: #aba4a4;
        transform: translateY(-50%);
      }
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.tm-slider-content {
  padding: 0 70px;
}

.tm-grid-divider {

  > * {
    position: relative;
  }

  > :not(.uk-first-column)::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    border-left: 1px solid @global-border;
  }
}

//navbar

.tm-pageheader {
  min-height: 500px;

  .uk-navbar-container {
    background: transparent;
  }

  .tm-navbar-active {
    background-color: @global-primary-background;
  }
}

.tm-pageheader-main {
  background: url("../../images/bg_pageheader_main.jpg") no-repeat center;
  background-size: cover;
}

.tm-pageheader-visas {
  background: url("../../images/visa_header_bg.jpg") no-repeat center;
  background-size: cover;
}

.tm-pageheader-companions {
  background: url("../../images/companions_header_bg.jpg") no-repeat center;
  background-size: cover;
}

.tm-navbar-active {
  background-color: @global-primary-background;
}

.tm-navbar-item-active {
  background-color: @navbar-dropdown-background;
}

.tm-navbar-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: @global-half-black;
  display: none;
}

// nav
// rubrics nav, nav divider

.tm-rubrics-nav, .tm-nav-divider {
  > li:first-child {
    padding-top: 10px;
  }

  > li:last-child {
    padding-bottom: 10px;
  }
}

.tm-nav-divider {
  > li:nth-child(n+2) {
    border-top: 1px dashed @global-half-black;
  }

  >li:last-child {
    border-bottom: 1px dashed @global-half-black;
  }
}

// buttons
.tm-button-text-small {
  font-size: @global-small-font-size;
  text-transform: uppercase;
}

.tm-button-text-default {
  font-size: @global-font-size;
  text-transform: none;
}

// social buttons
.tm-social {

  i {
    width: 34px;
    height: 34px;
    font-size: 19px;
    line-height: 34px;
    text-align: center;
    border: 1px solid;
    border-radius: 50%;
    box-sizing: border-box;
  }
}

// text
.tm-line-height-big {
  line-height: 2;
}

.tm-image-shadow {
  box-shadow: inset 0 -100px 80px -40px #fff;

  img {
    position: relative;
    z-index: -1;
  }
}

.tm-article-footer {
  font-size: 14px;
  border-top: 2px solid @global-blue;

  .tm-button-more {
    position: relative;
    top: -20px;
  }
}

.tm-article-title {
  font-size: 20px;
  font-family: @font-lato-bold;
}

// photo
.tm-photo {
  background-color: #e9eef3;
}

/*Media*/

@media (max-width: 959px) {

  .tm-pageheader {
    min-height: 0;
  }
}

@media (max-width: 639px) {

  .uk-button-large {
    padding: 0 20px;
  }

  .uk-text-lead {
    font-size: @global-large-font-size;
  }
}
